<!DOCTYPE html>
<html lang="en" ng-app="talai">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Talai</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css" media="all">
</head>
<body ng-controller="MainController">
  <div class="alert alert-danger alert-dismissable" ng-show="errorMessage">
    <button type="button" class="close" ng-click="errorMessage = ''" aria-hidden="true">&times;</button>
    {{errorMessage}}
  </div>
  <script type="text/ng-template" id="stop.html">
    <div class="pull-right" ng-bind-html="passes(stop)"></div>
    {{stop.ID}}. {{stop.Name}}
  </script>
  <div ng-controller="TalaiController">
    <div ng-controller="StopController" ng-show="page == 'stop'">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">Where are you?</div>
            <div class="panel-body">
              <strong>nearby</strong> (<a href="javascript://" ng-click="detectLocation()">refresh</a>)
              <div class="list-group">
                <div ng-if="!nearby || !nearby.length" class="list-group-item text-center">Detecting Location...</div>
                <a ng-repeat="stop in nearby" href="javascript://"
                   class="list-group-item"
                   ng-click="setStop(stop)"
                   ng-include="'stop.html'">
                </a>
              </div>
              <strong>all stops</strong>
              <div class="list-group">
                <a ng-repeat="stop in allStops" href="javascript://"
                   class="list-group-item"
                   ng-click="setStop(stop)"
                   ng-include="'stop.html'">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="page == 'list'">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="badge pull-right" href="javascript://" ng-click="page = 'stop'">Change</a>
          {{currentStop.ID}}. {{currentStop.Name}}
          <a class="badge" href="javascript://" ng-click="load(currentStop.ID)">Reload</a>
        </div>
        <div class="panel-body">
          <h2 class="text-center" ng-show="loading">(Loading)<br><br></h2>
          <div class="row" ng-show="!loading">
            <div class="col-sm-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th colspan="2">Bus Name</th>
                    <th class="text-right">Est.</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-show="!loading && !buses.length">
                    <td colspan="3" class="text-center">
                      No buses found :(
                    </td>
                  </tr>
                  <tr ng-repeat="bus in buses">
                    <td ng-class="'bus-line ' + lineClass(bus)"><span ng-class="'text-' + lineClass(bus)">{{bus.buslineid}}</td>
                    <td>
                      {{bus.busname}}
                    </td>
                    <td class="text-right">
                      {{bus.estimatedArrival}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer text-muted text-center">
    <br>
    Data from <a href="https://www.facebook.com/Kusmartbus">KU Smart Bus</a> application.<br>
    This application is unofficial, and is not affiliated, endorsed, or sponsored by KU or KU Smart Bus Project.<br>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.3.0/lodash.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.1.0/es5-shim.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  <script src="script.js"></script>
</body>
</html>
